[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "5.0.*"
gunicorn = "21.2.*"
psycopg2-binary = "2.9.*"

[dev-packages]

[requires]
python_version = "3.11"